@use 'mixins' as mixins;
@use 'variables' as variables;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  text-transform: uppercase;
}

@include mixins.medium-devices {
  .custom-bottom-sheet,
  .confirmation-dialog {
    transform: translateX(calc(variables.$side-nav-width / 2));
  }
}
