@import 'variables';

// Breakpoints
@mixin small-devices {
  @media (min-width: $small-device-bp) {
    @content;
  }
}

@mixin medium-devices {
  @media (min-width: $medium-device-bp) {
    @content;
  }
}

@mixin large-devices {
  @media (min-width: $large-device-bp) {
    @content;
  }
}

// Icons
@mixin md-icon {
  height: 5rem;
  width: 5rem;
  font-size: 5rem;
}

@mixin fixed-centered-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include medium-devices {
    transform: translate(calc(-50% + 100px), -50%);
  }
}
