@use "@angular/material" as mat;
@use "./custom-theme.scss" as customTheme;

// Breakpoints
$small-device-bp: 600px;
$medium-device-bp:  768px;
$large-device-bp: 992px;

// Colors
$primary: mat.get-color-from-palette(customTheme.$farm-360-primary, 800);
$primary-50: mat.get-color-from-palette(customTheme.$farm-360-primary, 50);
$primary-800: mat.get-color-from-palette(customTheme.$farm-360-primary, 800);
$primary-900: mat.get-color-from-palette(customTheme.$farm-360-primary, 900);
$primary-A700: mat.get-color-from-palette(customTheme.$farm-360-primary, A700);

$accent: mat.get-color-from-palette(customTheme.$farm-360-accent, 600);


// From Green palette
$green-100: #C8E6C9;
$green-900: #1B5E20;

// From Lime palette
$light-green-100: #DCEDC8;
$light-green-900: #33691E;

// From Lime palette
$lime-100: #F0F4C3;
$lime-900: #827717;