// Breakpoints
$x-small-device-bp: 480px;
$small-device-bp: 600px;
$medium-device-bp: 960px;
$large-device-bp: 1280px;

// Colors
$primary: #2E7D32;
$primary-50: #E8F5E9;
$primary-900: #1B5E20;

$accent: #6D4C41;

// From Green palette
$green-100: #c8e6c9;
$green-900: #1b5e20;

// From Lime palette
$light-green-100: #dcedc8;
$light-green-900: #33691e;

// From Lime palette
$lime-100: #f0f4c3;
$lime-900: #827717;

// Toolbar
$small-device-toolbar-height: 3.5rem;
$medium-device-toolbar-height: 4rem;

//Sidenav
$side-nav-width: 12.5rem;
