<section class="dashboard-menu">
  <a class="dashboard-menu-option" mat-raised-button routerLink="/farms">
    <mat-icon svgIcon="barn" />
    Fincas
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="cattle" />
    Ganado
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="vaccines" />
    Vacunación
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="money-transfer" />
    Ingresos/Gastos
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="cowboy" />
    Personal
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="report" />
    Reportes
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="profit" />
    Calculadora
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="logout" />
    Salir
  </a>
</section>
