<section class="dashboard-menu">
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="land-location" color="primary"></mat-icon>
    Fincas
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="cow-in-farm" color="primary"></mat-icon>
    Ganado
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="vaccines" color="primary"></mat-icon>
    Vacunación
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="money-transfer" color="primary"></mat-icon>
    Ingresos/Gastos
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="bulldogging" color="primary"></mat-icon>
    Personal
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="statistics" color="primary"></mat-icon>
    Reportes
  </a>

  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="profit" color="primary"></mat-icon>
    Calculadora
  </a>
  <a class="dashboard-menu-option" mat-raised-button routerLink=".">
    <mat-icon svgIcon="power" color="warn"></mat-icon>
    Salir
  </a>
</section>
