@import 'mixins';

.dashboard-menu {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;

  @include small-devices {
     grid-template-columns: repeat(3, 1fr);
  }

  @include large-devices {
    grid-template-columns: repeat(4, 1fr);
  }
}

.dashboard-menu-option {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 12.5rem;

  .mat-icon {
    height: 100px;
    width: 100px;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
