@import 'variables';
@import 'mixins';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 12.5rem;
  background-color: $primary-800;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mdc-list {
  padding-top: 0;

  .mat-icon,
  p {
    color: white;
  }

  .router-link-active {
    background-color: $primary-900;
  }
}

.mat-sidenav-content {
  background-color: $primary-50;
}

main {
  padding: 2rem 1rem;
  // background-color: $primary-50;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.logo {
  height: 2.5rem;
  width: 7.5rem;

  @include medium-devices {
    width: 10rem;
  }
}
