<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar><b>Daniel Elizondo </b></mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <mat-icon matListItemIcon>home</mat-icon>
        <p>Inicio</p>
      </a>

      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/farms']" routerLinkActive="router-link-active">
        <mat-icon matListItemIcon>terrain</mat-icon>
        <p>Fincas</p>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/cattle']" routerLinkActive="router-link-active">
        <mat-icon matListItemIcon>list</mat-icon>
        <p>Ganado</p>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/calendar']" routerLinkActive="router-link-active">
        <mat-icon matListItemIcon>calendar_today</mat-icon>
        <p>Calendario</p>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/profile']" routerLinkActive="router-link-active">
        <mat-icon matListItemIcon>person</mat-icon>
        <p>Perfil</p>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/logout']" routerLinkActive="router-link-active">
        <mat-icon matListItemIcon>logout</mat-icon>
        <p>Salir</p>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Farm360</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
