@use 'variables' as variables;
@use 'mixins' as mixins;

$main-top-bottom-padding: 2rem;
$main-left-right-padding: 1rem;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 12.5rem;
  background-color: variables.$primary;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mdc-list {
  padding-top: 0;

  .mat-icon,
  p {
    color: white;
  }

  .router-link-active {
    background-color: variables.$primary-900;
  }
}

.mat-sidenav-content {
  background-color: variables.$primary-50;
}

main {
  display: flex;
  flex-direction: column;
  padding: $main-top-bottom-padding $main-left-right-padding;
  min-height: calc(100% - variables.$small-device-toolbar-height - (2 * $main-top-bottom-padding));

  @include mixins.medium-devices {
    min-height: calc(100% - variables.$medium-device-toolbar-height - (2 * $main-top-bottom-padding));
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.logo {
  height: 2.5rem;
  width: 7.5rem;

  @include mixins.medium-devices {
    width: 10rem;
  }
}
