<ng-container *ngIf="farms$ | async as farms; else loading">
  <ng-container *ngIf="farms.length > 0; else emptyState">
    <section class="farms-list">
      <mat-card class="farm-card" *ngFor="let farm of farms">
        <mat-card-header class="farm-card__header">
          <h3 mat-card-title class="farm-card__title">{{ farm.name }}</h3>
          <button (click)="openFarmOptions(farm)" class="farm-card__options-button" mat-icon-button aria-label="Botón de opciones">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
        <img class="farm-card__image" mat-card-image [src]="farm.imageUrl || defaultFarmImage" alt="Imagen de la finca" loading="lazy" />
        <mat-card-content class="farm-card__content">
          <p class="farm-card__content__location">
            <mat-icon>map</mat-icon>
            {{ farm.location || 'Sin ubicación.' }}
          </p>
        </mat-card-content>
        <mat-card-actions class="farm-card__actions">
          <a class="farm-card__actions--view" mat-stroked-button color="primary" [routerLink]="['/farms/edit', farm.id]">Ver</a>
        </mat-card-actions>
      </mat-card>
    </section>
  </ng-container>

  <a [routerLink]="['/farms/create']" mat-fab color="accent" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </a>
</ng-container>

<ng-template #emptyState>
  <app-empty-state title="Sin fincas" description="No has creado ninguna finca. Presiona el botón (+) para agregar una ahora." />
</ng-template>

<ng-template #loading>
  <mat-spinner class="loading-farms-spinner" diameter="100" />
</ng-template>
